<div
  *ngIf="positions$ | async as positions; else empty"
>
  <table class="highlight" *ngIf="positions.length; else empty">
    <thead>
    <tr>
      <th>Название</th>
      <th>Стоимость</th>
      <th>Количество</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td>{{position.name}}</td>
      <td>{{position.cost}} грн.</td>
      <td>
        <div class="input-field inline order-position-input">
          <input
            type="number"
            value="1"
            min="1"
            id="field-{{position._id}}"
            [(ngModel)]="position.quantity"
          >
          <label for="field-{{position._id}}"></label>
        </div>
      </td>
      <td>
        <button
          class="btn waves-effect wavers-light btn-small"
          type="button"
          (click)="addToOrder(position)"
          [disabled]="!position.quantity"
        >Добавить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #empty>
  <div class="center">
    В данной категории нет ни одной позиции
  </div>
</ng-template>

