<div class="filter js-filter-block">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input
          type="number"
          id="number"
          min="1"
          [(ngModel)]="order"
          (input)="validate()"
        >
        <label for="number">Номер заказа</label>
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input
          type="text"
          id="datepicker1"
          #start
        >
        <label for="datepicker1">Начало</label>
      </div>

      <div class="input-field">
        <input
          type="text"
          id="datepicker2"
          #end
        >
        <label for="datepicker2">Конец</label>
      </div>
    </div>
  </div>

  <button
    class="btn waves-effect wavers-light btn-small"
    (click)="submitFilter()"
    type="button"
    [disabled]="!isValid"
  >Применить фильтр</button>
</div>
