<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
        type="button"
      >
        Добавить позицию
      </button>
    </div>
    <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length; else empty">
        <a
          class="collection-item collection-item-icon"
          *ngFor="let position of positions"
          (click)="onSelectPosition(position)"
        >
          <span>
            {{position.name}} <strong>{{position.cost}}</strong> грн.
          </span>
          <span
            (click)="onDeletePosition($event, position)"
          >
            <i class="material-icons">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">
          В этой категории нет ни одной позиции
        </div>
      </ng-template>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>

  </div>
</div>

<div class="modal" #showModal>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input
          id="name"
          type="text"
          formControlName="name"
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
        >
        <label for="name">Название</label>
        <span
          class="helper-text red-text"
          *ngIf="form.get('name').invalid && form.get('name').touched"
        >
          Имя не должно быть пустым
        </span>
      </div>
      <div class="input-field">
        <input
          formControlName="cost"
          id="cost"
          type="number"
          min="1"
          step="1"
          [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
        >
        <label for="cost">Цена</label>
        <span
          class="helper-text red-text"
          *ngIf="form.get('cost').invalid && form.get('cost').touched"
        >
          <span
            *ngIf="form.get('cost').errors['required']"
          >
            Цена не должна быть пустой
          </span>
          <span
            *ngIf="form.get('cost').errors['min']"
          >
            Цена должна быть больше 0
          </span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="modal-action waves-effect waves-black btn-flat"
        type="button"
        (click)="onCancelModal()"
        [disabled]="form.disabled"
      >
        Отмена
      </button>
      <button
        class="modal-action btn waves-effect"
        type="submit"
        [disabled]="form.disabled || form.invalid"
      >
        Сохранить
      </button>
    </div>
  </form>

</div>
